@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  scrollbar-width: thin;
  scrollbar-color: #303030a0 transparent;

  color-scheme: light dark;
  color: light #fff dark #000;
  background-color: dark #242424 light #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.TextGlowing {
  filter: drop-shadow(2px 2px 4px rgba(52, 211, 153, 0.547));
}

.BoxGlowing {
  box-shadow: 0 0 10px rgba(52, 211, 153, 0.448);
}